<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhisperLink</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap" rel="stylesheet">
</head>
<body>

<nav>
    <h2>🔐 WhisperLink</h2>

    <a href="#">Create Secret</a>
</nav>

<section class="hero">

    <h1>Share Secrets.<br>Only Once.</h1>

    <p>
        Create encrypted one-time secret links that disappear forever
        after being viewed.
    </p>

    <button>Create Secret</button>

</section>
</body>
</html>